.student-card {
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    margin: 20px;
}

.student-info {
    padding: 10px;
}

.student-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
